$text-color: black;

$black-primary: white;
$black-secondary: white;
$border-color: rgb(224, 224, 224);

$breakpoint-medium: 1224px;
$breakpoint-small: 520px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: $black-primary;
    background-attachment: fixed;
    color: $text-color;
    letter-spacing: 0.1px;
}

@mixin line-clamp($number){
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: $number;
    -webkit-box-orient: vertical;
}

// ::-webkit-scrollbar{
//     width: 0px;
// }